html, body{
    margin: 0;
    padding: 0;
}
.contains{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contains2{
    display: flex;
   justify-content: space-around;
}


