*,
::before,
::after {
   margin: 0;
   padding: 0;
}
body {
   text-align: center;
   background-color: #252422;
   color: #fff;
}

.display {
   margin: 0 auto;
   width: 70%;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.scoredisplay {
   display: flex;
   flex-direction: row;
   height: 30vh;
   width: 70%;

   justify-content: space-evenly;
}

.home {
   width: 30%;
   height: 28vh;
   border-radius: 5px;
   border: 5px solid #006d77;
   position: relative;
}
.away {
   width: 30%;
   height: 28vh;
   border-radius: 5px;
   border: 5px solid #8f00ff;
   position: relative;
}
.score {
   background-color: #000;
   font-size: 2rem;
   width: 80%;
   height: 25vh;
   position: absolute;
   top: 5%;
   left: 10%;
   color: #fcca46;
   border: 1px solid #0000;
   border-radius: 5px;
}
h1 {
   padding: 40%;
}

h3 {
   position: absolute;
   text-align: center;
   background-color: #252422;
   bottom: -4%;
   left: 40%;
   width: 25%;
   height: 2vh;
   z-index: 5;
   border: none;
}

.point {
   display: flex;
   justify-content: space-evenly;
   height: 15vh;
   width: 70%;
}
.pointdisplay {
   display: flex;
   width: 30%;
   height: 15vh;
   justify-content: space-evenly;
   align-items: center;
}
.punk {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   height: 5vh;
   background-color: #006d77;
   border-radius: 5px;
   border: 5px solid #006d77;
   color: #fff;
   font-weight: 900;
}
.punk2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   height: 5vh;
   border-radius: 5px;
   border: 5px solid #8f00ff;
   background-color: #8f00ff;
   color: #fff;
   font-weight: 900;
}

.reset {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 25%;
   height: 2, 5vh;
}
button {
   width: 25%;
   height: 2, 5vh;
   border-radius: 5px;
   border: 5px solid #ffffffff;
}

/* modal */

.modal {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
   opacity: 0;
   transition: 250ms opacity ease-in;
}
.modal__container {
   background-color: white;
   width: 26rem;
   padding: 1.5rem;
   border-radius: 0.2rem;
}
.modal__container h1 {
   text-align: center;
}
.modal__container p {
   line-height: 1.5rem;
   border-top: 1px solid #eef1f6;
   padding: 1rem 0;
}
.modal__buttons {
   margin-top: 1rem;
   display: flex;
   gap: 0.5rem;
   justify-content: flex-end;
}
.modal-visible {
   opacity: 1;
   pointer-events: auto;
}
button {
   font-family: inherit;
   padding: 0.4rem 0.8rem;
   font-size: 1rem;
   cursor: pointer;
   border: 1px solid #0e48fe;
   border-radius: 0.2rem;
}
.btn-primary {
   background-color: #0e48fe;
   color: white;
}
.btn-secondary {
   background-color: transparent;
   color: #0e48fe;
}
